@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:100%/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#fff;
  font-weight:300;
  background:#331C3C;
}
p {
  font-size:1em;
  color:#fff;
  max-width:600px;
  margin:0 auto 1em auto;
}
h1 {
  color:#fff;
  text-align:center;
  font:3.5em/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  margin:0 auto;

}
.wrapper {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.button-primary {

  border-radius:40px;
  background:#fff;
  padding:1em;
  text-decoration:none;
  color:#331c3c;

  transition:background 0.3s ease;

}
.button-primary:hover,
.button-primary:focus,
.button-primary:active {

  background:#D1B1E0;

}

